html, body {
    height: 100%;
    width: 100%;
}

#home {
    background: url("./images/bg.jpg");
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

.landing-text {
    opacity: 1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h1{
    font-size:300%;
    font-weight: 700;
}
.landing-text h3{
    padding: 20px
}
